@media (max-width: 767px) {
  .toolbarRow {
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }

  .carouselCenter {
    order: 3;
    width: 100%;
    justify-content: center !important;
  }
}
